.section-header{
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-left: 12rem;
    height: 100vh;
}

h1 {
    font-size: 6rem;
    line-height: 85px;
    letter-spacing: -3px;
    position: relative;
}

h1::before{
    content: '<h1>';
    position: absolute;
    top: -55px;
    left: -10px;
    font-size: 1.5rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}

h1::after{
    content: '</h1>';
    position: absolute;
    bottom: -60px;
    left: -10px;
    font-size: 1.5rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
  
.gray-text{
    margin-top: 70px;
    margin-bottom: 50px;
    color: #a2a2a3;
    letter-spacing: 3px;
    font-size: 2em;
    position: relative;
}

.text-zone > p::before {
    content: '<p>';
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    font-size: 1.5rem;
    position: absolute;
    top: -30px;
    left: -10px;
}

.text-zone > p::after {
    content: '</p>';
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    font-size: 1.5rem;
    position: absolute;
    bottom: -35px;
    left: -10px;
}

.letter {
    transition: all 0.3s ease-in-out;
    color: rgba(255, 255, 255, 0.87);
}

.letter:hover {
    color: rgb(253, 33, 85);
}

@media (max-width: 500px) {
    h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .section-header {
        margin-left: 12vw;
        padding-left: 0;
        margin-bottom: 0;
        height: 100vh;
    }
    .gray-text{
        font-size: 1.5em;
    }
  }