.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skills-description {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}