.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.3em;
}

.tagcloud--item {
    color:rgb(32, 253, 220);
    text-transform: uppercase;
}

.tagcloud--item:hover {
    color: rgb(253, 33, 85);
}

@media (max-width: 500px) {
    .tagcloud {
        font-size: 1em;
        margin-top: 50px;
    }
    .cloud {
        min-height: 50vh;
    }
}